# Dataset
data/

# Model weights
models/
*.pt
*.pth
*.onnx

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Temporary files
filelist.txt

# Environment
venv/
.venv/
env/

# Secrets
.env
kaggle.json